.faq_full_width{
    padding: 80px 0;
    &__content{
        display: flex;
        flex-wrap: wrap;
    }
    &__column{
        width: calc(25%);
        height: 100%;
        background-color: $c-white;
        padding: 30px 0;
        @media (max-width: 768px){
            width: 100%;
        }
        &__title{
            letter-spacing: 0px;
            color: $c-black;
            background-color: $c-white;
            padding: 10px;
            cursor: pointer;
            margin-bottom: 10px;
            padding-left: 20px;
            border-left: 3px solid transparent;
            transition: border-left-color .3s ease;
            &.active,
            &:hover{
                font-weight: 600;
                border-left: 3px solid $c-green-dark;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &__small_content{
        width: calc(75% - 20px);
        margin-left: auto;
        @media (max-width: 768px){
            width: 100%;
            margin-top: 20px;
        }
        &__descbox{
            background-color: rgba($c-green, 0.2);
            padding: 20px;
            position: relative;
            display: none;
            margin: 25px 20px 20px 20px;
            word-break: break-all;
            .cute-1 {
                font-family: $f-muunel;
                position: absolute;
                right: 40px;
                bottom: 22px;
                width: 38px;
                height: 75px;
                &:before {
                    content: '\e84a';
                    color: rgba($c-black, 0.2);
                    font-size: 80px;
                }
            }
        }
        &__title{
            font-weight: 600;
            width: 100%;
            padding-right: 40px;
            padding: 25px 40px 20px 20px;
            position: relative;
            cursor: pointer;
            &::after {
                content: '';
                position: absolute;
                right: 20px;
                top: 50%;
                background-image: url('../../assets/img/plus1.png');
                background-size: 24px;
                background-repeat: no-repeat;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: rgba($c-green, 0.2);
                background-position: center;
                transform: translateY(-50%);
                transition: transform .3s ease;
            }

        }
        &__box{
            transition: all 0.3s ease;
            visibility: visible;
            background-color: $c-white;
            border: 1px solid #E9E9E9;
            margin-bottom: 20px;
            opacity: 1;
            height: auto;
            &.active{
                .faq_full_width__small_content{
                    &__title{
                        &::after{
                            transform: translateY(-50%) rotate(45deg);
                        }
                    }
                }
            }
            &.unactive{
                height: 0;
                visibility: hidden;
                display: none;
                opacity: 0;
            }
        }
    }
    
}