.blockSwitchPage{
    &__change{
        display: flex;
        justify-content: space-between;
        width: 360px;
        border: 1px solid $c-green;
        margin: 30px auto;
        padding: 5px;
        @media (max-width: 420px){
            width: 100%;
        }
        .btn-change{
            background-color: $c-white;
            color: $c-black;
            font-size: 14px;
            font-weight: 600;
            padding: 10px 0;
            width: 180px;
            text-align: center;
            cursor: pointer;
            transition: color .3s ease, background-color .3s ease;
            &.active{
                background-color: $c-black;
                color: $c-white;
                &:hover{
                    background-color: $c-yellow;
                    color: $c-black;
                }
            }
        }
    }
}