.mainCarousel {
  margin-bottom: 50px;
  .carousel {
    width: 100%;
  }
  h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    @media (max-width: 576px){
      flex-direction: column;
    }
    i {
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      background-size: contain;
      margin-right: 20px;
    }
  }

  .splide {
    width: 100%;
    &__slide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      img{
        width: 100%;
      }
      &__href {
        padding: 10px;
        text-align: center;
      }
    }
    .splide__pagination {
      bottom: -50px
    }
    .splide__pagination__page {
      background-color: #D8D8D8;
      border: 1px solid #D8D8D8;
      &.is-active {
        background-color: $c-black;
        border: 1px solid $c-black;
      }
    }
  }
  .splide__arrow--prev {
    left: -100px;
  }
  .splide__arrow--next {
    right: -100px;
  }
}
