.blockBannerGetstarted {
  position: relative;
  &__content{
    text-align: center;
    .content {
      text-align: center;
      h2 {
        margin-bottom: 10px;
      }
      p {
        color: rgba($c-black, 0.5);
        margin-bottom: 50px;
      }
    }
    img {
      width: 100%;
      margin-bottom: 50px;
      z-index: 1;
      position: relative;
      height: 400px;
      object-fit: cover;
      @media (max-width: 768px){
        height: 300px;
      }
      @media (max-width: 576px){
        height: 200px;
      }
    }
    .links {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;
      @media (max-width: 460px){
        flex-direction: column;
      }
      a {
        color: $c-black;
        background-color: transparent;
        font-weight: 600;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: block;
        border: 1px solid rgba($c-black, .2);
        transition: background-color .3s ease;
        @media (max-width: 1024px){
          margin-bottom: 10px;
        }
        @media (max-width: 576px){
          width: 100%;
        }
        &:hover {
          background-color: $c-yellow;
        }
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
  .cute-1,
  .cute-2 {
    font-family: $f-muunel;
    color: rgba($c-black, .2);
    position: absolute;
  }
  .cute-1 {
    width: 50px;
    height: 80px;
    top: -40px;
    left: 0;
    @media (max-width: 1024px){
      top: -80px;
      left: 20px;
    }
    @media (max-width: 1024px){
      top: -100px;
    }

    &:before {
      content: '\e849';
      font-size: 80px;
    }
  }
  .cute-2 {
    width: 100px;
    height: 100px;
    bottom: 50px;
    right: 0;
    &:before {
      content: '\e84a';
      font-size: 100px;
      font-weight: 400;
    }
  }
}