.contact {
  text-align: center;
  .desc {
    max-width: 1000px;
    margin: 0 auto;
    color: rgba($c-black, 0.5);
  }
  .contact-box {
    display: flex;
    padding: 20px;
    border: 1px solid $c-grey;
    margin-top: 50px;
    @media(max-width: 768px) {
      flex-direction: column;
    }
    .content-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 30px;
      text-align: left;
      width: 50%;
      position: relative;
      @media(max-width: 768px) {
        width: 100%;
      }
      h2 {
        color: $c-black;
        margin-bottom: 22px;
      }
      p {
        color: rgba($c-black, 0.5);
        margin-bottom: 40px;
      }
      .links {
        position: relative;
        z-index: 1;
        a {
          color: $c-black;
          margin-bottom: 20px;
          text-align: left;
          display: block;
          &:last-child {
            margin-bottom: 0px;
          }
          i {
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            float: left;
          }
        }
      }
      .cute-1{
        width: 40px;
        bottom: 20px;
        right: 40px;
        font-family: $f-muunel;
        position: absolute;
        @media(max-width: 768px) {
          bottom: 10px;
          right: 20px;
        }
        &:before {
          content: '\e849';
          font-size: 90px;
          color: rgba($c-black, .8);
          @media(max-width: 768px) {
            font-size: 70;
          }
          @media (max-width: 576px){
            color: rgba($c-black, .5);
          }
        }
      }
    }
    .form-box {
      width: 50%;
      padding: 36px 0 36px 36px;
      text-align: left;
      @media(max-width: 768px) {
        width: 100%;
        padding: 0px;
        margin-top: 35px;
      }
      form {
        width: 100%;
        select, textarea, .wpcf7-submit {
          width: 100%;
          margin-top: 8px;
        }
        p{
          font-weight: 400;
          font-size: 14px;
        }
        input[type=email],
        input[type=text],
        select{
          width: 100%;
          margin-top: 5px;
          margin-bottom: 30px;
          font-size: 14px !important;
          font-weight: 400 !important;
        }
        .wpcf7-submit {
          margin-top: 8px;
          height: 60px;
          font-weight: 700;
          border: none;
          cursor: pointer;
          color: $c-white;
          background-color: $c-black;
          transition: background-color .3s ease, color .3s ease;
          &:hover {
            color: $c-black;
            background-color: $c-yellow;
          }
        }
      }
    }
  }
}
