.blockBenefitLists{
  h2 {
    text-align: center;
    margin-bottom: 80px;
  }
  .content-box {
    display: flex;
    flex-wrap: wrap;
    background-color: $c-grey;
    position: relative;
    padding: 60px;
    @media(max-width: 1024px) {
      padding: 40px;
    }
    @media(max-width: 768px) {
      padding: 20px 20px 5px;
    }
    .cute-1,
    .cute-2 {
      font-family: $f-muunel;
      display: inline-block;
      position: absolute;
      color: rgba($c-black, 0.2);
    }

    .cute-1 {
      top: 40px;
      right: 40px;
      width: 90px;
      height: 50px;
      color: $c-black;

      &:before {
        content: '';
        background-image: url('../../assets/img/cute/Group\ 835.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 90px;
        height: 51px;
        position: absolute;
      }
      @media (max-width: 576px) {
        top: 10px;
        right: 10px;
      }
      @media (max-width: 420px) {
        display: none;
      }
    }

    .cute-2 {
      bottom: -5px;
      left: 0;
      transform: rotate(90deg);

      &:before {
        content: '\e84a';
        font-size: 80px;
        font-weight: 400;
      }
      @media (max-width: 576px) {
        display: none;
      }
    }
    .list {
      width: 50%;
      @media(max-width: 768px) {
        width: 100%;
        margin-bottom: 25px;
      }
      h4 {
        color: rgba($c-green-dark-2, .3);
        text-transform: capitalize;
        margin-bottom: 25px;
        margin-top: 0;
        @media(max-width: 768px) {
          font: 700 18px $f-mont;
        }
      }
      .item {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        &:last-child {
          margin-bottom: 0;
          @media(max-width: 768px) {
            margin-bottom: 25px;
          }
        }
        img {
          width: 20px;
          height: 20px;
          float: left;
          margin-right: 15px;
        }
        p {
          margin: 0;
          @media(max-width: 768px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}