.blockBannerHomepage{
  @media (min-width: 1441px){
    margin-top: 30px;
  }
  &__content{
    position: relative;
    height: calc(100vh - 220px);
    max-height: 800px;
    overflow: hidden;
    @media (max-width: 1440px){
      height: calc(100vh - 160px);
    }
    @media (max-width: 992px){
      height: 70vh;
    }
    @media (max-width: 768px){
      height: 50vh;
    }
    #bannerHomepageVideo{
      width: 100%;
      height: 100%;
    }
    video{
      width: 100% !important;
      object-fit: cover;
      @media (max-width: 768px){
        height: 100% !important;
        position: absolute;
        width: auto !important;
        left: 50% !important;
        transform: translateX(-50%);
      }
    }
    &--links{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      position: absolute;
      bottom: 100px;
      @media (max-width: 576px) {
        flex-direction: column;
        bottom: 20px;
      }
      a{
        display: block;
        background-color: $c-white;
        color: $c-black;
        margin: 0 10px;
        width: 200px;
        @media (max-width: 576px){
          margin: 10px auto;
        }
      }
    }
  }
}