.faqNavigation{
    border: 1px solid $c-grey;
    background-color: $c-white;
    box-shadow: 0px 6px 20px rgba($c-black, 0.05);
    margin-top: 20px;
    &__content{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        &--item{
            margin: 10px 0;
            padding-left: 20px;
            border-left: 2px solid transparent;
            cursor: pointer;
            transition: font-weight .3s ease, border-left-color .3s ease;
            &:hover,
            &.active{
                border-left-color: $c-green-dark;
                font-weight: 600;
            }
        }
    }
}