.productCarousel {
  h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    margin-top: 100px;
  }

  .splide {
    width: 100%;
    &__slide {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid $c-grey;
      &::before {
        display: none;
      }
      
      &__href {
        padding: 10px;
        text-align: center;
      }
    }
    .splide__pagination {
      bottom: -60px;
      li {
        &::before {
          display: none;
        }
      }
    }
    .splide__pagination__page {
      background-color: #D8D8D8;
      border: 1px solid #D8D8D8;
      &.is-active {
        background-color: $c-black;
        border: 1px solid $c-black;
      }
    }
  }
  .splide__arrow {
    top: 515px;
    display: none;
  }
  .splide__arrow--prev {
    left: calc(45% - 24px);
    @media (max-width: 1100px) {
      left: calc(40% - 24px);
    }
    @media (max-width: 580px) {
      left: calc(35% - 24px);
    }
    @media (max-width: 480px) {
      left: calc(5% - 24px);
    }
  }
  .splide__arrow--next {
    right: calc(45% - 24px);
    @media (max-width: 1100px) {
      right: calc(40% - 24px);
    }
    @media (max-width: 580px) {
      right: calc(35% - 24px);
    }
    @media (max-width: 480px) {
      right: calc(5% - 24px);
    }
  }
  .splide__slide{
    height: max-content;
  }
  &__single_post {
    display: block;
    text-align: center;
    padding: 20px;
    width: 100%;
    &__image {
      width: 100%;
      margin-bottom: 30px;
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
      .wp-post-image{
        opacity: 1;
        visibility: visible;
        transition: opacity .5s ease, visibility .5s ease;
      }
      .card_image_hover{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        visibility: hidden;
        transition: opacity .5s ease, visibility .5s ease;
      }
    }
    &:hover{
      @media (min-width: 768px){
        .wp-post-image{
          opacity: 0;
          visibility: hidden;
        }
        .card_image_hover{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &__title {
      color: $c-black;
      margin-bottom: 20px;
    }
  }
  .button-box {
    width: 100%;
    display: block;
    margin-top: 120px;
    a{
      display: block;
      margin: 0 auto;
    }
  }
}
