.trendArticles{
  margin-bottom: 80px;
  h3 {
    margin-bottom: 25px;
  }
  ul {
    li {
      list-style-type: none;
      &::before {
        display: none !important;
      }
      &.splide__slide {
        padding: 40px;
        min-height: 500px;
        color: $c-white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @media (max-width: 1024px) {
          min-height: 340px;
          padding: 20px;
        }
        @media (max-width: 480px) {
          min-height: 290px;
          padding: 20px;
        }

        h4 {
          margin-bottom: 15px;
        }
        p {
          margin-bottom: 20px;
          &.date {
            margin-bottom: 0px;
            font-weight: 600;
            display: inline-block;
          }
        }
        a {
          display: inline-block;
          font-weight: 600;
          float: right;
        }
      }
    }
  }
  .splide__pagination {
    bottom: -40px;
  }
}
