
.icon-trangle:before { content: '\e803'; } /* '' */
.icon-dots-vertical:before { content: '\e804'; } /* '' */
.icon-lines:before { content: '\e849'; } /* '' */
.icon-half:before { content: '\e84a'; } /* '' */
.icon-circle:before { content: '\e84b'; } /* '' */
