@font-face {
  font-family: 'muunel';
  src: url('../font/muunel.eot?94753229');
  src: url('../font/muunel.eot?94753229#iefix') format('embedded-opentype'),
       url('../font/muunel.woff2?94753229') format('woff2'),
       url('../font/muunel.woff?94753229') format('woff'),
       url('../font/muunel.ttf?94753229') format('truetype'),
       url('../font/muunel.svg?94753229#muunel') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'muunel';
    src: url('../font/muunel.svg?94753229#muunel') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "muunel";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-trangle:before { content: '\e803'; } /* '' */
.icon-dots-vertical:before { content: '\e804'; } /* '' */
.icon-lines:before { content: '\e849'; } /* '' */
.icon-half:before { content: '\e84a'; } /* '' */
.icon-circle:before { content: '\e84b'; } /* '' */
