.blockBannerRelative{
  position: relative;
  .background-img {
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media(max-width: 1024px) {
      height: 500px;
    }
    @media(max-width: 768px) {
      height: 370px;
    }
    @media(max-width: 480px) {
      height: 235px;
    }
  }
  .content-box {
    padding: 60px;
    width: 80%;
    color: $c-white;
    margin: -100px auto 0 auto;
    @media(max-width: 1024px) {
      margin: 0 auto;
      padding: 30px;
      width: 100%;
    }
    @media(max-width: 576px) {
      padding: 20px;
    }
  }
  
}