.policyTerms{
    margin-top: 30px;
    overflow-x: hidden;
    &__container{
        display: flex;
        flex-direction: row;
        @media (max-width: 992px){
            flex-direction: column;
        }
        &--nav{
            width: 350px;
            padding-right: 50px;
            @media (max-width: 992px){
                width: 100%;
                padding: 0;
            }
            ul{
                list-style: none;
                border: 1px solid $c-grey;
                margin: 0;
                padding: 30px 0;
                @media (max-width: 992px){
                    display: flex;
                    flex-direction: row;
                    padding: 0;
                    overflow-x: auto;
                    border: none;
                    border-bottom: 1px solid $c-grey;
                }
                li{
                    padding: 0 15px 0 27px;
                    margin-top: 25px;
                    border-left: 3px solid transparent;
                    @media (max-width: 992px){
                        padding: 20px;
                        margin-top: 0;
                        border-bottom: 3px solid transparent;
                    }
                    &:first-child{
                        margin-top: 0;
                    }
                    &::before {
                        display: none;
                    }
                    a{
                        @media (max-width: 992px){
                            width: max-content;
                            display: block;
                        }
                    }
                    &.active{
                        border-left-color: $c-green-dark;
                        @media (max-width: 992px){
                            border-left-color: transparent;
                            border-bottom-color: $c-green-dark;
                        }
                        a{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        &--content{
            width: calc(100% - 350px);
            @media (max-width: 992px){
                width: 100%;
            }
            &__item{
                margin-bottom: 50px;
                @media (max-width: 992px){
                    margin-top: 50px;
                }
            }
        }
    }
}