.blockBannerHomepagePeople{
  margin: 20px 0 100px 0;

  @media (max-width: 575px){
    &>.alignfull{
      width: 100%;
    }
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    width: calc(50% - 20px);

    @media (max-width: 768px){
      width: calc(50% - 10px);
    }

    @media (max-width: 575px){
      width: 50%;
      position: relative;
    }
  }
  &__photobox {
    position: relative;
    line-height: 0;
    font-size: 0;

    &.womanbox {
      background-color:  $c-yellow;
      .face {
        &.shadow {
          width: 96%;
          left: 20px;
        }
      }
    }

    &.manbox {
      background-color: $c-pink;
    }

    .face {
      width: 100%;
      z-index: 2;
      position: relative;

      &.shadow {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }
    h3 {
      color: $c-white;
      text-transform: uppercase;
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 30px;
      margin-bottom: 0;
      z-index: 3;
    }

    &:hover {
      &.womanbox {
        background-color:  $c-orange;
        transition: background-color 0.2s ease;
        .face {
          &.shadow {
            left: 0px;
            transition: all 0.2s ease;
          }
        }
      }

      &.manbox {
        background-color: $c-orange;
        transition: background-color 0.2s ease;
        .face {
          &.shadow {
            left: -20px;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
}