.questionAnswer{
  margin-top: 20px !important;
  .faq-single-box {
    padding: 25px 20px 20px;
    box-shadow: 0px 6px 20px rgba(30, 40, 31, 0.05);
    border: 1px solid #E9E9E9;
    background-color: $c-white;
    cursor: pointer;
    .question {
      font-weight: 600;
      width: 100%;
      &::after {
        content: " ";
        float: right;
        background-image: url('../../assets/img/plus1.png');
        background-size: 24px;
        background-repeat: no-repeat;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: rgba($c-green, 0.2);
        background-position: center;
        margin-top: -6px;
        transition: transform .3s ease;
      }
    }
    .answer-box {
      background-color: rgba($c-green, 0.2);
      padding: 20px;
      position: relative;
      display: none;
      margin-top: 25px;
      .cute-1 {
        font-family: $f-muunel;
        display: inline-block;
        position: absolute;
        right: 40px;
        bottom: 22px;
        width: 38px;
        height: 75px;
        &:before {
          content: '\e84a';
          color: rgba($c-black, 0.2);
          font-size: 80px;
        }
      }
    }
    &.active {
      .answer-box {
        display: block;
      }
      .question{
        &::after{
          transform: rotate(45deg);
        }
      }
    }
  }
}
