.blockBannerCollection {
  margin-bottom: 80px;
  position: relative;
  .flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
    align-items: center;
    @media(max-width:1024px){
      flex-direction: column-reverse;
      padding-top: 60px;
    }
  }
  .content {
    width: 50%;
    padding: 0 40px;
    @media(max-width:1024px){
      width: 100%;
    }
    h2 {
      margin-bottom: 20px;
      color: $c-white;
    }
    p {
      color: $c-white;
      margin-bottom: 50px;
      @media(max-width:1024px){
        margin-bottom: 0;
      }
    }
    .links {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      position: relative;
      z-index: 1;
      @media (max-width: 1024px){
        justify-content: center;
      }
      a {
        color: $c-black;
        background-color: $c-white;
        font-weight: 600;
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: block;
        transition: background-color .3s ease;
        @media (max-width: 1024px){
          margin-bottom: 10px;
        }
        @media (max-width: 576px){
          width: 100%;
        }
        &:hover {
          background-color: $c-yellow;
        }
        &:first-child {
          margin-right: 20px;
          @media (max-width: 576px){
            margin-right: 0;
          }
        }
      }
    }
  }
  picture {
    width: 50%;
    @media(max-width:1024px){
      width: 100%;
    }
    img{
      width: 100%;
    }
  }
  
  .cute-1,
  .cute-2 {
    font-family: $f-muunel;
    display: inline-block;
    position: absolute;
    color: rgba($c-black, 0.2);
  }

  .cute-1 {
    top: 50%;
    right: 20px;
    transform: translateY(-100%);


    &:before {
      content: '\e849';
      font-size: 80px;
    }
  }

  .cute-2 {
    bottom: 0;
    left: 0;
    z-index: -1;

    &:before {
      content: '\e84b';
      font-size: 100px;
      font-weight: 400;
    }
  }
}