.blockBullets{
  margin: 100px 0;
  &__content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    &::before{
      content: '';
      background-image: url('../../assets/img/cute/Group\ 835.svg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 120px;
      height: 60px;
      position: absolute;
      top: 0;
      right: 0;
      @media (max-width: 1024px){
        width: 60px;
      }
    }
    &--item{
      width: 25%;
      @media (max-width: 576px){
        width: 100%;
        &:not(&:last-child){
          margin-bottom: 50px;
        }
      }
      &__icon{
        width: max-content;
        margin-bottom: 10px;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0px;
          left: -5px;
          font-family: $f-muunel;
          font-size: 36px;
          font-weight: 500;
          z-index: -1;
        }
        &[type="1"]{
          &::before{
            content: '\e849';
            color: $c-yellow;
          }
        }
        &[type="2"]{
          &::before{
            content: '\e84b';
            color: $c-blue;
          }
        }
        &[type="3"]{
          &::before{
            content: '\e84a';
            color: $c-orange;
          }
        }
        img{
          width: 30px;
          height: 30px;
        }
      }
      &__title{
        color: rgba($c-black, .5);
        &::before{
          content: '';
        }
      }
    }
  }
}