.blockLetterNavigation{
    border-bottom: 1px solid rgba($c-black, .1);
    @media (max-width: 1024px){
        border: none;
    }
    &__content{
        margin-top: 20px;
        height: 40px;
        text-align: center;
        max-width: 100%;
        overflow-x: auto;
        @media (max-width: 1024px){
            text-align: left;
        }
        span{
            border-bottom: 2px solid transparent;
            color: rgba($c-black, .4);
            transition: color .3s ease, border-bottom-color .3s ease;
            margin: 0 10px;
            cursor: pointer;
            text-transform: uppercase;
            @media (max-width: 1024px){
                margin-left: 0;
                margin-right: 20px;
            }
            &:hover{
                color: $c-black;
                border-bottom-color: $c-black;
                font-weight: 600;
            }
        }
    }
}