.blockReadingTest {
  &__content {
    background-color: rgba(204, 216, 205, 0.15);
    padding: 100px 140px;
    margin-bottom: 80px;
    @media(max-width: 1024px) {
      padding: 80px 100px;
    }
    @media(max-width: 768px) {
      padding: 80px 20px;
    }
    @media(max-width: 480px) {
      padding: 60px 20px;
    }
    h2 {
      margin-bottom: 40px;
    }
  }
  &__sizes {
    display: flex;
    flex-direction: column-reverse;
    .single-distance {
      border: 1px solid $c-grey;
      display: flex;
      box-shadow: 0px 6px 20px rgba(30, 40, 31, 0.05);
      margin-bottom: 20px;
      color: $c-black;
      .number {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(153, 176, 155, 0.15);
        min-width: 130px;
        align-items: center;
      }
      .description {
        padding: 30px;
      }
    }
  }
}
