.blockPromotedPosts{
  background-color: $c-white;
  .heading {
    margin-bottom: 50px;
    text-align: center;
  }
  .posts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .post-box {
      width: calc(33% - 10px);
      border: 1px solid $c-grey;
      padding: 15px;
      @media (max-width: 768px){
        width: calc(50% - 10px);
        margin: 0 auto 20px auto;
      }
      @media (max-width: 576px){
        width: 100%;
        margin: 0 0 20px 0;
      }
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        @media (max-width: 992px){
          height: 250px;
        }
        @media (max-width: 420px){
          height: 200px;
        }
      }
      p {
        margin-top: 20px;
        font-weight: 700;
      }
    }
  }
}
