.blockBannerSingleSite{
  position: relative;
  .elements {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &.orange {
    background-color: $c-yellow-light;
    .element-1 {
      background-image: url('../../assets/img/Group\ 539.svg');
      width: 100px;
      height: 180px;
      top: 32px;
      right: 32px;
    }
    .element-2 {
      background-image: url('../../assets/img/Group\ 597.svg');
      width: 140px;
      height: 140px;
      bottom: -40px;
      left: calc(50% - 70px);
    }
    .element-3 {
      display: none;
    }
  }
  &.salmon {
    background-color: $c-salmon;
    .element-1 {
      background-image: url('../../assets/img/Group\ 835.svg');
      width: 170px;
      height: 90px;
      background-size: contain;
      left: 5px;
      top: -50px;
    }
    .element-2 {
      background-image: url('../../assets/img/Group\ 689.svg');
      width: 120px;
      height: 120px;
      bottom: -20px;
      left: calc(50% - 60px);
    }
    .element-3 {
      background-image: url('../../assets/img/Fill\ 251.svg');
      width: 70px;
      height: 70px;
      top: 40px;
      left: calc(50% + 40px);
    }
  }
  &.grey {
    background-color: $c-green;
    .element-1 {
      background-image: url('../../assets/img/Group\ 689.svg');
      width: 120px;
      height: 120px;
      top: -60px;
      left: 40px;
    }
    .element-2 {
      background-image: url('../../assets/img/Group\ 567.svg');
      width: 40px;
      height: 75px;
      left: calc(50% - 20px);
      top: 30px;
    }
    .element-3 {
      display: none;
    }
  }
  .flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__content {
    flex-basis: 50%;
    h3 {
      margin-bottom: 16px;
    }
  }
  &__photo {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
  }
 
}
