.image-section{
  text-align: center;
  &__desktop,
  &__mobile{
    width: 100%;
    height: auto;
    img{
      max-width: inherit;
    }
  }
  &__mobile{
    display: none;
  }
  @media (max-width: 768px){
    &__desktop{
      display: none;
    }
    &__mobile{
      display: block;
    }
  }
}