.productReviews {
  margin: 100px 0;
  border-top: 1px solid $c-grey;
  position: relative;
  h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 100px;
    position: relative;
    .triangle {
      font-family: $f-muunel;
      display: inline-block;
      color: #FBBC05;
      &:before {
        content: '\e803';
        width: 55px;
        position: absolute;
        height: 55px;
        top: -20px;
        z-index: -1;
        left: calc(50% - 108px);
      }
    }
  }
  h6 {
    color: rgba($c-black, 0.5);
    margin-bottom: 50px;
    text-align: center;
  }
  .cute-1 {
    position: absolute;
    font-family: $f-muunel;
    display: inline-block;
    color: rgba($c-black, 0.2);
    &:before {
      content: '\e84b';
      font-size: 100px;
      position: absolute;
      z-index: -1;
      top: -60px;
      left: 200px;
    }
  }
  .splide {
    width: 80%;
    margin: 0 auto;
    background-color: $c-white;
    @media(max-width: 480px) {
      width: 100%
    }
    &__slide {
      padding: 40px;
      border: 1px solid $c-grey;
      color: $c-black;
      p {
        margin-bottom: 0px;
        color: $c-black;
        text-align: left;
      }
      .heading {
        font-weight: 600;
        margin-bottom: 11px;
      }
      .glsr-stars {
        margin-bottom: 12px;
      }
    }
    .splide__pagination {
      display: none;
    }
    // .splide__pagination__page {
    //   background-color: #D8D8D8;
    //   border: 1px solid #D8D8D8;
    //   &.is-active {
    //     background-color: $c-black;
    //     border: 1px solid $c-black;
    //   }
    // }
  }
  .splide__arrow--prev {
    left: -60px;
    @media(max-width: 480px) {
      display: none;
    }
  }
  .splide__arrow--next {
    right: -60px;
    @media(max-width: 480px) {
      display: none;
    }
  }
  .splide__slide{
    height: auto;
  }
  .button-box {
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;
  }
}
