.blockProduct {
  margin: 100px 0;

  &__bullets {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 768px) {
      margin-top: 20px;
    }

    &--item {
      width: 33.33334%;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      border-top: 1px solid $c-grey;
      border-bottom: 1px solid $c-grey;

      @media (max-width: 768px) {
        width: 100%;
        max-height: 60px;
        flex-wrap: wrap;
      }

      &:nth-child(2) {
        border: 1px solid $c-grey;

        @media (max-width: 768px) {
          border: none;
        }
      }

      //&:hover,
      &.selected {
        p {
          opacity: 1;
          visibility: visible;
        }
      }

      h6 {
        margin: 0 10px;
        width: auto;
      }

      p {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 100%;
        right: 50%;
        transform: translateX(50%);
        width: 250px;
        background-color: $c-green-dark;
        padding: 15px;
        box-shadow: 0px 4px 4px rgba($c-black, 0.25);
        transition: opacity .2s ease, visibility .2s ease;
        z-index: 10;

        &::before {
          content: '';
          position: absolute;
          bottom: -15px;
          left: 50%;
          transform: rotate(90deg) translateY(10px);
          border-top: 10px solid transparent;
          border-left: 15px solid $c-green-dark;
          border-bottom: 10px solid transparent;
        }
      }

      &__trigger {
        svg {
          circle {
            stroke: rgba($c-black, .5)
          }

          path {
            fill: rgba($c-black, .5)
          }
        }
      }
    }
  }
}